extends ../../layout/defaut.pug 
include ../../mixins/search.pug 
include ../../mixins/pagination.pug 

block main
    .container-fluid.mt-4
        .d-flex.justify-content-between.align-items-center.mb-4
            div
                h1.text-primary.fw-bold Quản Lý Dự Án
                p.text-muted.mb-0 Danh sách các công trình và hồ sơ thiết kế

        .card.shadow-sm.mb-4.border-0
            .card-body
                form#filter-form(action="", method="GET")
                    .row.g-3.mb-3
                        .col-md-8
                            +search(keyword)
                        .col-md-4.text-end
                            //- SỬA: Thêm dấu / và dùng project viết thường
                            a.btn.btn-primary.shadow-sm(href=`/${PefixAdmin}/project/create`)
                                i.fas.fa-plus-circle.me-2
                                | Thêm Dự Án Mới
                    
                    .row.g-3
                        .col-md-2
                            label.form-label.fw-bold Đặc điểm:
                            select.form-select(name="is_noibat",id="noibat")
                                option(value="" selected=(!is_noibat)) -- Tất cả --
                                option(value="true" selected=(is_noibat == "true")) Nổi bật
                                option(value="false" selected=(is_noibat == "false")) Thường
                        
                        .col-md-2
                            label.form-label.fw-bold Trạng thái:
                            select.form-select(name="trang_thai", id="statusFilter")
                                option(value="" selected=(!trang_thai)) -- Tất cả --
                                option(value="DangThietKe" selected=(trang_thai == "DangThietKe")) Đang Thiết Kế
                                option(value="DangThiCong" selected=(trang_thai == "DangThiCong")) Đang Thi Công
                                option(value="HoanThien" selected=(trang_thai == "HoanThien")) Hoàn Thiện

                        .col-md-3
                            label.form-label.fw-bold Loại hình:
                            select.form-select(name="loai_hinh", id="loaihinh")
                                option(value="" selected=(!loai_hinh)) -- Tất cả --
                                option(value="VanPhong" selected=(loai_hinh == "VanPhong")) Văn phòng
                                option(value="BietThu" selected=(loai_hinh == "BietThu")) Biệt thự
                                option(value="NoiThat" selected=(loai_hinh == "NoiThat")) Nội thất
                                option(value="NhaPho" selected=(loai_hinh == "NhaPho")) Nhà phố

    if duan.length > 0
        .d-flex.align-items-center.mb-3
            .form-check.me-3
                input.form-check-input#checkboxAll(type="checkbox") 
                label.form-check-label(for="checkboxAll") Chọn tất cả
            
            //- SỬA: Action chuẩn có dấu / và project thường
            form(
                action=`/${PefixAdmin}/project/change-multi?_method=PATCH`
                method="POST"
                form-change-multi
                )
                .d-flex.align-items-start
                    .form-group
                        select(name="type" class="form-control")
                            option(disabled selected) -- Chọn hành động --
                            option(value="true") Đặt Nổi bật 
                            option(value="false") Bỏ Nổi bật 
                            option(value="delete-all") Xóa tất cả
                            option(value="position-all") Thay đổi vị trí
                    .form-group.d-none
                        input(type="text" name="ids" value="" class="form-control")
                    button(type="submit" class="btn btn-primary ms-2") Áp dụng

        .row.g-4
            each item in duan
                .col-12.col-md-6.col-lg-4.col-xl-3
                    .card.h-100.shadow-sm.border-0.project-card
                        .position-relative
                            .form-check.position-absolute.top-0.start-0.m-2.z-2
                                input.form-check-input.item-checkbox(type="checkbox", name="ids", value=item.id) 
                            a(href=`/${PefixAdmin}/project/detail/${item.id}`)
                                if item.hinh_anh && item.hinh_anh.length > 0
                                    img.card-img-top(src=item.hinh_anh[0], alt=item.ten_duan, style="height: 200px; object-fit: cover;")
                                else
                                    img.card-img-top(src="/img/no-image.png", alt="No Image", style="height: 200px; object-fit: cover;")
                            
                            .position-absolute.top-0.end-0.m-2
                                if item.is_noibat
                                    a.badge.bg-danger.text-decoration-none(
                                        href="javascript:;"
                                        data-hoatdong="true" 
                                        data-idhoatdong=item.id
                                        button-change-hoatdongduan
                                        data-return-url=url
                                    ) Hot
                                else
                                    a.badge.bg-dark.bg-opacity-50.text-decoration-none(
                                        href="javascript:;" 
                                        data-hoatdong="false" 
                                        data-idhoatdong=item.id
                                        button-change-hoatdongduan
                                        data-return-url=url
                                    ) Bình thường

                        .card-body
                            h5.card-title.fw-bold.text-truncate.mb-3
                                //- SỬA: Link edit chuẩn
                                a.text-decoration-none.text-dark(href=`/${PefixAdmin}/project/edit/${item.id}`) #{item.ten_du_an}
                            
                            .row.g-2.small.text-muted
                                .col-12
                                    i.fas.fa-map-marker-alt.me-2.text-danger
                                    | #{item.dia_diem}
                                .col-6
                                    i.fas.fa-ruler-combined.me-2.text-success
                                    | #{item.dien_tich} m²
                                .col-6
                                    i.far.fa-calendar-alt.me-2.text-primary
                                    | #{item.nam_thuc_hien}

                        .card-footer.bg-white.border-top-0.d-flex.justify-content-between.pb-3
                            //- SỬA: Link edit chuẩn
                            a.btn.btn-outline-primary.btn-sm.flex-grow-1.me-2(href=`/${PefixAdmin}/project/edit/${item.id}`)
                                i.fas.fa-edit.me-1
                                | Sửa
                            button.btn.btn-outline-danger.btn-sm(data-id=item.id, button-delete)
                                i.fas.fa-trash
                                | Xoá
                           

        .mt-4.d-flex.justify-content-center
            +pagination(pagination) 
            
    else
        .text-center.py-5
            .py-5.bg-light.rounded-3
                i.fas.fa-folder-open.fa-3x.text-muted.mb-3
                p.text-muted.fs-5 Không tìm thấy dự án nào phù hợp.

    //- CÁC FORM ẨN CHO HÀNH ĐỘNG ĐƠN
    //- QUAN TRỌNG: Cả 2 data-path phải có dấu / ở đầu và project viết thường
    form#form-change-hoatdongduan(
        action="" 
        method="POST" 
        data-path=`/${PefixAdmin}/project/change-hoatdongduan`
        )
        input(type="hidden", name="returnUrl", value="")
        input(type="hidden", name="_method", value="PATCH")
        
    form#form-delete-item(
        method="POST", 
        action="", 
        data-path=`/${PefixAdmin}/project/delete`
        )
        input(type="hidden", name="_method", value="DELETE")