aside.sidebar
  .logo
    a(href=`${PefixAdmin}/dashboard`) AdminPanel
  nav.sidebar-nav
    ul
      li  
        a(href=`${PefixAdmin}/dashboard`) Trang tổng quan
      li
         a(href=`${PefixAdmin}/Project`) Quản lý Dự án
      li
        a(href=`${PefixAdmin}/Baiviet`) Quản lý Bài viết
      li
        a(href=`${PefixAdmin}/Dichvu`) Quản lý Dịch vụ
      li
        a(href=`${PefixAdmin}/Doingu`) Quản lý Đội ngũ
      li   
        a(href=`${PefixAdmin}/Lienhe`) Quản lý Liên hệ / Khách hàng
      li
        a(href=`${PefixAdmin}/Hinhanh`) Quản lý Ảnh & Thư viện
      li
        a(href=`${PefixAdmin}/Account`) Quản lý Tài khoản
      li
        a(href=`${PefixAdmin}/Phanhoi`) (Tùy chọn) Phản hồi & Đánh giá khách hàng
      
