aside.sidebar
  .logo
    //- Thêm dấu / vào trước biến
    a(href=`/${PefixAdmin}/dashboard`) AdminPanel
  nav.sidebar-nav
    ul
      li  
        a(href=`/${PefixAdmin}/dashboard`) Trang tổng quan
      li
        //- Sửa Project -> project (viết thường)
        a(href=`/${PefixAdmin}/project`) Quản lý Dự án
      li
        //- Sửa Baiviet -> baiviet (viết thường)
        a(href=`/${PefixAdmin}/baiviet`) Quản lý Bài viết
      li
        //- Sửa Dichvu -> dichvu (viết thường)
        a(href=`/${PefixAdmin}/dichvu`) Quản lý Dịch vụ
      li
        //- Sửa Doingu -> doingu (viết thường)
        a(href=`/${PefixAdmin}/doingu`) Quản lý Đội ngũ
      li   
        a(href=`/${PefixAdmin}/lienhe`) Quản lý Liên hệ
      li
        a(href=`/${PefixAdmin}/hinhanh`) Quản lý Ảnh
      li
        a(href=`/${PefixAdmin}/account`) Quản lý Tài khoản
      li
        a(href=`/${PefixAdmin}/phanhoi`) Phản hồi