extends ../../layouts/defaut.pug

include ../../mixins/box.head.pug

block main
    title #{pageTitle}
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
    link(rel="stylesheet", href="/css/client/news.css") 

    main.news-page
        section.section-banner
            img.banner-image(src="/img/mau-de-nghi-thuc-hien-du-an-dau-tu_2502152238.jpg" alt="Tin tức PNT DECOR")
            .banner-overlay
                h1.banner-title TIN TỨC & KIẾN THỨC

        section.section-articles.py-5
            .container
                +box-head('BÀI VIẾT MỚI NHẤT')
                
                .row.g-4
                    if articles && articles.length > 0
                        each item in articles
                            .col-md-6.col-lg-4
                                .article-card.h-100.shadow-sm.rounded-3.overflow-hidden.bg-white
                                    a(href=`/tintuc/${item.slugLink}`)
                                        .image-wrapper(style="height: 220px; overflow: hidden;")
                                            img.w-100.h-100(src=item.thumbnail alt=item.title style="object-fit: cover;")
                                    
                                    .p-4
                                        if item.is_new
                                            span.badge.bg-danger.mb-2 MỚI
                                        
                                        .meta.small.text-muted.mb-2
                                            i.far.fa-calendar-alt.me-2
                                            //- Dùng dateFormat đã xử lý ở Controller
                                            span #{item.dateFormat}
                                            i.far.fa-eye.ms-3.me-1
                                            span #{item.views || 0} lượt xem
                                        
                                        h3.h5.fw-bold.mb-3
                                            a.text-dark.text-decoration-none(href=`/tintuc/${item.slug}`) #{item.title}
                                        
                                        p.text-muted.small.line-clamp-3 #{item.description}
                                        
                                        a.btn-readmore.text-primary.fw-bold.text-decoration-none.small(href=`/tintuc/${item.slug}`)
                                            | XEM CHI TIẾT #[i.fas.fa-arrow-right.ms-1]
                    else
                        .col-12.text-center.py-5
                            p.text-muted Không tìm thấy bài viết nào.